<div class="jumbotron mt-4 text-center">
    <h1 class="display-2"> Chat</h1>
    <div class="container">
    <div class="card">
        <div class="card-body text-dark" id="chat"></div>
        <div class="text-dark" id="actions"></div>
    </div>
        <div class="card-footer w-50 m-auto mt-3">
            <form id="form">
                <div class="input-group">
                    <input type="text" class="form-control mx-1 rounded-3" id="username" placeholder="username">
                    <input type="email" class="form-control mx-1 rounded-3" id="email" placeholder="yourmail@example.com">
                    <input type="text" class="form-control m-1 w-100 rounded-3" id="message" placeholder="Message">
                    <button class="btn btn-primary m-auto mt-2 rounded-3" id="send">Send</button>
                    {{!-- <button class="btn btn-primary m-auto mt-2 rounded-3" type="submit" id="send">Send</button> --}}
                </div>
            </form>
    </div>

</div>